.img {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid blue;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
  }
  .wrapper{
    padding: 100px 0;
  }

  .title{
    box-sizing: border-box;
    color: #333333;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 39.6px;
    margin: 0px 0px 15px;
    padding: 0px 0px 15px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }
  
  
  .title::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 80px;
    bottom: 0;
    margin-left: -30px; /* Adjust the margin to center the pseudo-element */
    left: 40%;
  }