
.title{
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
}

/* //write media queries for smaller screens */
@media (max-width: 768px) {
    .title {
        font-size: 30px;
    }
}
