.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar{
    
}

@media (max-width: 768px) {
    .headerWrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .searchbar{
        margin-top: 20px;
        width: 100%;
    }
}