/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f5f5f5;
    color: #333;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* .backgroundImage{
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
} */