.card{
  display: flex;
  justify-content: start;
  padding: 10px 90px;
  align-items: center;
  background-color: rgba(0, 0,0, 0.7) !important;
}

.title {
    font-weight: 900;
    color: white;
    line-height: 1.2;
    font-size: 90px;
    margin: 0;
    cursor: default;
  }

  .subTitle{
    font-weight: 700;
    color: white;
    line-height: 1.2;
    font-size: 40px;
    margin: 0;
    cursor: default;
  }
  
  /* make card, title and subtitle for mobile responsive */

  @media (max-width: 768px) {
    .card {
      padding: 10px 20px !important;
      display: flex;
      align-items: center;
    }
    .title {
      font-size: 40px;
    }
    .subTitle {
      font-size: 20px;
    }
  }
