.card{
  display: flex;
  justify-content: start;
  padding: 10px 90px;
  align-items: center;
  background-color: rgba(0, 0,0, 0.7) !important;
}

.title {
    font-weight: 900;
    color: white;
    line-height: 1.2;
    font-size: 140px;
    margin: 0;
    cursor: default;
  }
  
  .category {
    color: white;
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
    font-size: larger;
  }

  