
.wrapper{
    font-family: 'Roboto';
    margin-top: 100px;
}

.title{
    font-size: 2.5rem;
    font-weight: 700;
    /* color: #333; */
    margin-bottom: 1rem;
    /* make gradient color */
    
}
.contentParagraph {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #666;
    margin-bottom: 2rem;
}