

.wrapper{
    box-sizing: border-box;
    min-height: 1px;
    padding: 0px 15px;
    position: relative;
    font-family: 'Roboto';
    margin-top: 100px;
}


.title{
	box-sizing: border-box;
	color: #333333;
	font-family: Raleway, sans-serif;
	font-size: 36px;
	font-weight: 800;
	line-height: 39.6px;
	margin: 0px 0px 15px;
	padding: 0px 0px 15px;
	position: relative;
	text-transform: uppercase;
}


.title::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 80px;
    bottom: 0;
    left: 0;
}
.image{

}

.contentParagraph {
	box-sizing: border-box;
	color: #777777;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 24px;
	margin: 30px 0px;
}

/* make those mobile responsive */

@media (max-width: 768px) {
    .wrapper {
        margin-top: 50px;
    }
    .title {
        font-size: 24px;
        line-height: 26.4px;
    }
    .title::after {
        width: 40px;
    }
    .contentParagraph {
        font-size: 14px;
        line-height: 22.4px;
    }
}

/* Goal  */

.goalWrapper {
    background-color: #F6F6F6;
	box-sizing: border-box;
	padding: 100px 0px;
}

.goalTitle {
	box-sizing: border-box;
	color: #333333;
	font-family: Raleway, sans-serif;
	font-size: 36px;
	font-weight: 800;
	line-height: 39.6px;
	margin: 10px 0px 15px;
	padding: 0px 0px 15px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.goalTitle::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 80px;
    bottom: 0;
    margin-left: -30px; /* Adjust the margin to center the pseudo-element */
    left: 40%;
}

.titlePoint{
    background: linear-gradient(to right, red, green, skyblue, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.goalSubtitle{
    color: #777777;
    /* font-family: "Open Sans", sans-serif; */
    /* set a cursive font  */
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    line-height: 24px;
    margin: 0px 0px 30px;
    text-align: center;
}

.goalContentParagraph {
    color: #777777;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin: 30px 0px;
}