
.wrapper{
    width: 100%;
    /* padding: 0 1rem; */
    margin: 0 auto;
}

.noticeDate{
    width: 100%;
    height: 100%;
    background-color: var(--mantine-color-blue-6);
    display: block;
    text-align: center;
    color: white;
    border-radius: 0.5rem;
    padding: 0px;
    margin: 0px;
}

.noticeContent{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--mantine-color-gray-9);
    margin-bottom: 1rem;
}