
.wrapper{
    width: 100%;
    /* padding: 0 1rem; */
    margin: 0 auto;
}

.title{
	box-sizing: border-box;
	color: #333333;
	font-family: Raleway, sans-serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 20.6px;
	margin: 0px 0px 15px;
	padding: 0px 0px 10px;
	position: relative;
	text-transform: uppercase;
}

.title::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    height: 4px;
    width: 60px;
    bottom: 0;
    left: 0;
}

.swiper{
    width: 80%;
}

@media (max-width: 768px) {
    .swiper{
        width: 100%;
    }
}

.noticeDate{
    width: 100%;
    height: 100%;
    background-color: var(--mantine-color-blue-6);
    display: block;
    text-align: center;
    color: white;
    border-radius: 0.5rem;
    padding: 0px;
    margin: 0px;
}

.noticeContent{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--mantine-color-gray-9);
    margin-bottom: 1rem;
}